body{
    background-color:#FFE4E1;
    color:#696969;
    font-size:16px;
    text-align:center;
}

h1{
    color:#F4A460;
    font-size:40px;
}

#calculator{
    color:#697999;
    font-weight:500;
    font-size:25px;
}

p{
    color:#fa9284;
}